<!DOCTYPE html>
<html lang="de">

<head>
  <title>Tutorialwebsite</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="pages/home/style.css" rel="stylesheet">
  <script src="pages/home/app.js" defer></script>
</head>

<body>
  <h1>Wilkommen zurück, <span class="name">loading</span></h1>
</body>

</html>