<!DOCTYPE html>
<html lang="de">

<head>
  <title>Login</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="pages/login/style.css" rel="stylesheet">
  <script src="pages/login/app.js" defer></script>
</head>

<body>
  <h1>Login</h1>
  <form class="login-form">
    <input class="email-input" type="email" placeholder="Email">
    <input class="password-input" type="password" placeholder="Passwort">
    <button type="submit">Login</button>
  </form>
</body>

</html>