<!DOCTYPE html>
<html lang="de">

<head>
  <title>Registrieren</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="pages/register/style.css" rel="stylesheet">
  <script src="pages/register/app.js" defer></script>
</head>

<body>
  <h1>Registrieren</h1>
  <form class="register-form">
    <input class="email-input" type="email" placeholder="Email">
    <input class="username-input" type="input" placeholder="Nutzername">
    <input class="password-input" type="password" placeholder="Passwort">
    <input class="password-input2" type="password" placeholder="Passwort wiederholen">
    <button type="submit">Registrieren</button>
  </form>
</body>

</html>